*~
*.la
*.lo
*.o
*.exe
*.gcda
*.gcno
coverage
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-h1
xpost.pc
src/bin/xpost
src/bin/xpost_client
src/bin/xpost_dsc
src/bin/xpost_view
visual_studio/vc14/.vs/
visual_studio/vc14/Debug/
visual_studio/vc14/Release/
visual_studio/vc14/libxpost/Debug/
visual_studio/vc14/libxpost/Release/
visual_studio/vc14/libxpost/x64/
visual_studio/vc14/x64/
visual_studio/vc14/xpost.VC.opendb
visual_studio/vc14/xpost.sdf
visual_studio/vc14/xpost/Debug/
visual_studio/vc14/xpost/Release/
visual_studio/vc14/xpost/x64/
visual_studio/vc14/xpost_client/Debug/
visual_studio/vc14/xpost_client/Release/
visual_studio/vc14/xpost_client/x64/
visual_studio/vc14/xpost_suite/Debug/
visual_studio/vc14/xpost_suite/Release/
visual_studio/vc14/xpost_suite/x64/
